<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <label>Brand</label>
            <input type="text" ng-model="ctrl.unit.brand">
            <div class="row">
                <div class="col-sm-6">
                    <label>Nama Type</label>
                    <input type="text" ng-model="ctrl.unit.type_name">
                </div>
                <div class="col-sm-6">
                    <label>Kode Type</label>
                    <input type="text" ng-model="ctrl.unit.type_code">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>Nama Warna</label>
                    <input type="text" ng-model="ctrl.unit.color_name">
                </div>
                <div class="col-sm-6">
                    <label>Kode Warna</label>
                    <input type="text" ng-model="ctrl.unit.color_code">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>No Mesin</label>
                    <input type="text" ng-model="ctrl.unit.engine_number">
                </div>
                <div class="col-sm-6">
                    <label>No Rangka</label>
                    <input type="text" ng-model="ctrl.unit.chasis_number">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label>Status</label>
                    <input type="text" ng-model="ctrl.unit.current_status_text">
                </div>
                <div class="col-sm-6">
                    <label>Lokasi</label>
                    <input type="text" ng-model="ctrl.unit.currentLocation.data.name">
                </div>
            </div>
            <div class="row" ng-show="ctrl.unit.cost_of_good!==undefined">
                <div class="col-sm-6">
                    <label>HPP</label>
                    <input type="text" ng-model="ctrl.unit.cost_of_good" readonly>
                </div>
                <div class="col-sm-6">
                    <label>Waktu Input HPP</label>
                    <input type="text" ng-model="ctrl.unit.cost_of_good_entered_at" readonly>
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-sm-6">
                    <label>Diterima</label>
                    <input type="text" ng-model="ctrl.unit.received_at">
                    <label>Diterima Oleh</label>
                    <input type="text" ng-model="ctrl.unit.receiver.name">
                    <span ng-hide="ctrl.unit.received_at">
                        <dealer-location-finder location="selectedLocation"></dealer-location-finder>
                        <br>
                        <button class="btn btn-block btn-danger" ng-click="ctrl.action.receive(ctrl.unit, selectedLocation)">Terima</button>
                    </span>
                </div>
                <div class="col-sm-6">
                    <label>PDI</label>
                    <input type="text" ng-model="ctrl.unit.pdi_at">
                    <label>Di PDI Oleh</label>
                    <input type="text" ng-model="ctrl.unit.pdi_man.name">
                    <button ng-hide="ctrl.unit.pdi_at" class="btn btn-block btn-danger" ng-click="ctrl.action.pdi(ctrl.unit)">PDI</button>
                </div>
            </div>
        </div>
        <a class="btn btn-block btn-warning" ng-href="{{'/inventory-management/redirect-app/unit/manual-movement/' + ctrl.unit.chasis_number}}">Perpindahan</a>
    </div>
</div>
