<div class="row">
    <div class="col-sm-12">
        <h4>Pengiriman Pending</h4>
        <hr>
        <select ng-options="driver.id as driver.name for driver in ctrl.drivers" ng-model="ctrl.filter.driver_id"></select>
        <button class="btn btn-block btn-warning" ng-click="ctrl.load(ctrl.filter)">Update</button>
        <br>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Type Motor</th>
                        <th>Warna Motor</th>
                        <th>Sales</th>
                        <th>Tanggal</th>
                        <th>Kunci</th>
                        <th>Validasi</th>
                        <th>Pengiriman</th>a
                        <th>Buka</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="salesOrder in ctrl.salesOrders">
                        <td>{{salesOrder.customer.name}}</td>
                        <td>{{salesOrder.vehicle.name}}</td>
                        <td>{{salesOrder.vehicle.variant.name}}</td>
                        <td>{{salesOrder.salesPersonnel.entity.name}}</td>
                        <td>{{salesOrder.created_at | fromDateTimeString}}</td>
                        <td>{{salesOrder.locked_at | fromDateTimeString }}</td>
                        <td>{{salesOrder.validated_at | fromDateTimeString }}</td>
                        <td>{{salesOrder.delivery.generated_at | fromDateTimeString }}</td>
                        <td><a ui-sref="salesOrderShowDelivery({id:salesOrder.id})">Buka</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>