<div class="row">
    <div class="col-sm-12">
        <h4>Pengiriman Pending</h4>
        <hr>
        <select ng-options="driver.id as driver.name for driver in ctrl.drivers" ng-model="ctrl.filter.driver_id"></select>
        <button class="btn btn-block btn-warning" ng-click="ctrl.load(ctrl.filter)">Cari</button>
        <br>
        <div class="panel panel-primary" ng-repeat="salesOrder in ctrl.salesOrders">
            <div class="panel-heading">
                <a ui-sref="salesOrderShowDelivery({id:salesOrder.id})" target="_blank" style="color: white;"><strong>{{salesOrder.customer.name}}  <small>  ({{salesOrder.registration.name}})</small></strong></a>
            </div>
            <div class="panel-body">
                <p>Alamat : {{salesOrder.registration.address}}</p>
                <p>
                    {{salesOrder.delivery.unit.type_name}}
                    <small>{{salesOrder.delivery.unit.color_name}}</small>
                </p>
                <p>
                    {{salesOrder.delivery.unit.chasis_number}}
                    <small>{{salesOrder.delivery.unit.engine_number}}</small>
                </p>
                <p>Sales: {{salesOrder.salesPersonnel.entity.name}}</p>
                <p>SJ Dibuat: {{salesOrder.delivery.generated_at }}</p>
                <p>Serah Terima: {{salesOrder.delivery.handover.created_at }}</p>
                <whatsapp-messenger phone="{{ salesOrder.customer.phone_number }}">Customer</whatsapp-messenger>
                <whatsapp-messenger phone="{{ salesOrder.salesPersonnel.phone_number }}">Sales</whatsapp-messenger>
            </div>
        </div>
    </div>
</div>