<div class="row">
	<div class="col-sm-12">

		<h4>Penjualan Pending SJ</h4>
		<hr>

		<div class="table-responsive" >
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Customer Name</th>
						<th>Type Motor</th>
						<th>Tanggal Dibuat</th>
						<th>Tanggal Validasi</th>
						<th>Buka</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="salesOrder in ctrl.salesOrderPendingDelivery">
						<td>{{salesOrder.id}}</td>
						<td>{{salesOrder.customer.name}}</td>
						<td>{{salesOrder.vehicle.name}}</td>
						<td>{{salesOrder.created_at}}</td>
						<td>{{salesOrder.validated_at}}</td>
						<td><a ui-sref="deliveryShow({id: salesOrder.id})">Buka</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<hr>

		<h4>Penjualan Pending SJ (Perlu validasi ulang)</h4>
		<hr>

		<div class="table-responsive" >
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Customer Name</th>
						<th>Type Motor</th>
						<th>Tanggal Dibuat</th>
						<th>Tanggal Validasi</th>
						<th>Buka</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="salesOrder in ctrl.salesOrderNeedRevalidation">
						<td>{{salesOrder.id}}</td>
						<td>{{salesOrder.customer.name}}</td>
						<td>{{salesOrder.vehicle.name}}</td>
						<td>{{salesOrder.created_at}}</td>
						<td>{{salesOrder.validated_at}}</td>
						<td><a ng-href="/sales-admin/redirect-app/sales-order/?id={{salesOrder.id}}" target="_blank">Buka</a></td>
					</tr>
				</tbody>
			</table>
		</div>


	</div>
</div>