<div class="row">
	<div class="col-sm-12">
		<h4>Leasing Personnel</h4>
		<p>Leasing: <a ui-sref="leasingShow({id:ctrl.leasingPersonnel.leasing.mainLeasing.id})">{{ ctrl.leasingPersonnel.leasing.mainLeasing.name }}</a></p>
		<hr>

		<account-finder-modal ng-if="!ctrl.leasingPersonnel.id" selected-user="ctrl.leasingPersonnel.user"></account-finder-modal>
		
		<label>Nama</label>
		<input type="text" ng-model="ctrl.leasingPersonnel.user.name" readonly>
		<label>Email</label>
		<input type="text" ng-model="ctrl.leasingPersonnel.user.email" readonly>

		<br>

		<input type="checkbox" class="form-not-applied" ng-model="ctrl.leasingPersonnel.access.can_input_leasing_order">
		<label>Dapat Input PO</label>

		<hr>

		<button class="btn btn-block btn-primary" ng-click="ctrl.store(ctrl.leasingPersonnel)">Simpan</button>
		<button class="btn btn-block btn-danger" ng-click="ctrl.delete(ctrl.leasingPersonnel)">Hapus</button>
	</div>
</div>