<div class="row">
    <div class="col-sm-12">
        <h4>Batch Faktur Penyerahan ke Leasing {{ ctrl.registrationBatch.id || 'Baru' }}</h4>
        <hr>
        <div class="row">
            <div class="col-sm-3">
                <leasing-selector ng-if="!ctrl.registrationBatch.closed_at" selected-main-leasing="mainLeasing" selected-sub-leasing="subLeasing" force-sub-leasing="true" on-leasing-selected="ctrl.registrationBatch.mainLeasing=mainLeasing;ctrl.registrationBatch.subLeasing=subLeasing;"></leasing-selector>
                <br>
                <label>Catatan</label>
                <input type="textbox" ng-model="ctrl.registrationBatch.note">
            </div>
            <div class="col-sm-3">
                <div style="width: 100%;" class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td>Leasing Utama</td>
                                <td>{{ctrl.registrationBatch.mainLeasing.name}}</td>
                            </tr>
                            <tr>
                                <td>Cabang Leasing</td>
                                <td>{{ctrl.registrationBatch.subLeasing.name}}</td>
                            </tr>
                            <tr>
                                <td>Ditutup</td>
                                <td>{{ ctrl.registrationBatch.closed_at }}</td>
                            </tr>
                            <tr>
                                <td>Dikirimkan Tanggal</td>
                                <td>{{ ctrl.registrationBatch.handover_at }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-3">
                <file-manager-upload path="polreg" subpath="leasing-bpkb-submission-batch" fileable-type="LeasingBpkbSubmissionBatch" fileable-id="{{ ctrl.registrationBatch.id }}" resize-height-width="1300x1300" uploaded-file="uploadedLeasingBpkb" on-file-uploaded="ctrl.registrationBatch.file_uuid=uploadedLeasingBpkb.uuid;ctrl.store(ctrl.registrationBatch)"></file-manager-upload>
                <file-manager-show display-type="img" file-uuid="{{ctrl.registrationBatch.file_uuid}}"></file-manager-show>
            </div>
            <div class="col-sm-3">
                <button ng-if="!ctrl.registrationBatch.closed_at" class="btn btn-block btn-primary" ng-click="ctrl.store(ctrl.registrationBatch)">Simpan</button>
                <button ng-if="ctrl.registrationBatch.id && !ctrl.registrationBatch.closed_at && ctrl.registrationBatch.salesOrders.length > 0" class="btn btn-block btn-primary" ng-click="ctrl.close(ctrl.registrationBatch)">Tutup</button>
                <button ng-if="ctrl.registrationBatch.closed_at && !ctrl.registrationBatch.handover_at" class="btn btn-block btn-primary" ng-click="ctrl.generateReceipt(ctrl.registrationBatch)">Cetak Bukti Penyerahan</button>
                <button ng-if="ctrl.registrationBatch.closed_at && !ctrl.registrationBatch.handover_at" class="btn btn-block btn-primary" ng-click="ctrl.handover(ctrl.registrationBatch)">Konfirmasi Serah Terima</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Alamat</th>
                        <th>Salesman</th>
                        <th>Type Motor</th>
                        <th>Warna</th>
                        <th>No Rangka</th>
                        <th>No Mesin</th>
                        <th>Serah Terima</th>
                        <th>Buka</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="salesOrder in ctrl.registrationBatch.salesOrders">
                        <td>
                            {{salesOrder.customer.name}}
                            <br>
                            <small>({{salesOrder.registration.name}})</small>
                        </td>
                        <td>{{salesOrder.registration.address}}</td>
                        <td>{{salesOrder.salesPersonnel.entity.name}}</td>
                        <td>{{salesOrder.unit.data.type_name}}</td>
                        <td>{{salesOrder.unit.data.color_name}}</td>
                        <td>{{salesOrder.unit.data.chasis_number}}</td>
                        <td>{{salesOrder.unit.data.engine_number}}</td>
                        <td>{{salesOrder.polReg.items.BPKB.outgoing.creator.timestamp * 1000 | date }}</td>
                        <td><a href="{{'/sales/redirect-app/sales-order/?id=' + salesOrder.id}}"  target="_blank">Buka Penjualan</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
