<sales-order-navbar sales-order="ctrl.salesOrder"></sales-order-navbar>
<div class="well">
    <div class="row">
        <div class="col-sm-6">
            <h5>
                <span>Kustomer</span>
                <entity-redirect entity-id="{{ctrl.salesOrder.customer.id}}"></entity-redirect>
                <entity-retriever entity-id="{{ ctrl.salesOrder.customer.id }}" entity="retrievedCustomerEntity" on-entity-retrieved="ctrl.salesOrder.customer=retrievedCustomerEntity"></entity-retriever>
            </h5>
            <entity-finder-modal search-only="true" selected-entity="ctrl.salesOrder.customer"></entity-finder-modal>
            <br>
            <fieldset ng-readonly="true">
                <label>Jenis</label>
                <select ng-options="customerType as customerType for customerType in ctrl.customerTypes" ng-model="ctrl.salesOrder.customer.type"></select>
                <label>Nama</label>
                <input type="text" ng-model="ctrl.salesOrder.customer.name">
                <label>Nomor Telepon <small>(nomor HP, jangan gunakan spasi atau tanda baca)</small></label>
                <input type="text" ng-model="ctrl.salesOrder.customer.phone_number">
                <whatsapp-messenger phone="{{ ctrl.salesOrder.customer.phone_number }}"></whatsapp-messenger>
                <label>Nomor Telepon 2</label>
                <input type="text" ng-model="ctrl.salesOrder.customer.phone_number_2">
                <label>Email</label>
                <input type="email" ng-model="ctrl.salesOrder.customer.email">
                <label>Alamat</label>
                <textarea style="height:5em;" rows="5" ng-model="ctrl.salesOrder.customer.address"></textarea>
                <area-display entity="ctrl.salesOrder.customer"></area-display>
                <label>Tanggal Lahir</label>
                <input type="text" ng-model="ctrl.salesOrder.customer.dob" class="date">
                <label>No KTP</label>
                <input type="text" ng-model="ctrl.salesOrder.customer.ktp">
                <label>NPWP</label>
                <input type="text" ng-model="ctrl.salesOrder.customer.npwp">
            </fieldset>
            <entity-updater-modal entity="ctrl.salesOrder.customer" new-entity-data="ctrl.salesOrder.customer">
            </entity-updater-modal>
            <br>
            <img ng-src="{{ ctrl.salesOrder.customer.ktp_file_url }}" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <h5>
                <span>Data Untuk STNK</span>
                <entity-redirect entity-id="{{ctrl.salesOrder.registration.id}}"></entity-redirect>
                <entity-retriever entity-id="{{ ctrl.salesOrder.registration.id }}" entity="retrievedRegistrationEntity" on-entity-retrieved="ctrl.salesOrder.registration=retrievedRegistrationEntity"></entity-retriever>
            </h5>
            <entity-finder-modal search-only="true" selected-entity="ctrl.salesOrder.registration"></entity-finder-modal>
            <br>
            <a class="btn btn-sm btn-block btn-success" ng-click="ctrl.copyRegistrationFromCustomer()">Sama Dengan Data Kustomer</a>
            <br>
            <fieldset ng-readonly="true">
                <label>Jenis</label>
                <select ng-options="customerType as customerType for customerType in ctrl.customerTypes" ng-model="ctrl.salesOrder.registration.type"></select>
                <label>Nama</label>
                <input type="text" ng-model="ctrl.salesOrder.registration.name">
                <label>Nomor Telepon <small>(hanya isi nomor, jangan gunakan spasi atau tanda baca)</small></label>
                <input type="text" ng-model="ctrl.salesOrder.registration.phone_number">
                <label>Alamat</label>
                <textarea style="height:5em;" rows="5" ng-model="ctrl.salesOrder.registration.address"></textarea>
                <area-display entity="ctrl.salesOrder.registration"></area-display>
                <label>Tanggal Lahir</label>
                <input type="text" ng-model="ctrl.salesOrder.registration.dob" class="date">
                <label>No KTP</label>
                <input type="text" ng-model="ctrl.salesOrder.registration.ktp">
                <label>NPWP</label>
                <input type="text" ng-model="ctrl.salesOrder.registration.npwp">
            </fieldset>
            <entity-updater-modal ng-if="ctrl.salesOrder.registration.id" entity-id="{{ctrl.salesOrder.registration.id}}" new-entity-data="ctrl.salesOrder.registration">
            </entity-updater-modal>
            <br>
            <img ng-src="{{ ctrl.salesOrder.registration.ktp_file_url }}" class="img-responsive">
            <button ng-show="ctrl.salesOrder.validated_at" class="btn btn-xs btn-block btn-warning" ng-click="ctrl.postValidationUpdate.registration(ctrl.salesOrder)">Simpan Revisi SPK</button>
        </div>
    </div>
</div>
<div class="well">
    <div class="row">
        <div class="col-sm-12">
            <h5>Kendaraan</h5>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <vehicle-model-finder2 selected-model="selectedModel" on-change="ctrl.salesOrder.vehicle=selectedModel;
                    ctrl.salesOrder.vehicle.model_id=selectedModel.id;
                    ctrl.salesOrder.vehicle.variant=selectedModel.variant;" params='{"current":"true"}'>
            </vehicle-model-finder2>
        </div>
        <div class="col-sm-3">
            <fieldset disabled>
                <label>Merek</label>
                <input type="text" ng-model="ctrl.salesOrder.vehicle.brand">
                <label>Model</label>
                <input type="text" ng-model="ctrl.salesOrder.vehicle.name">
                <label>Kode</label>
                <input type="text" ng-model="ctrl.salesOrder.vehicle.code">
            </fieldset>
        </div>
        <div class="col-sm-3">
            <fieldset disabled>
                <label>Variant</label>
                <input type="text" ng-model="ctrl.salesOrder.vehicle.variant.name">
            </fieldset>
        </div>
    </div>
</div>
<div class="well">
    <div class="row">
        <div class="col-sm-12">
            <h5>Detail Pesanan</h5>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label>Kondisi Jual</label>
            <select ng-options="key as value for (key, value) in ctrl.salesConditions" ng-model="ctrl.salesOrder.sales_condition"></select>
            <label>Jenis Pembayaran</label>
            <select ng-options="key as value for (key, value) in ctrl.paymentTypes" ng-model="ctrl.salesOrder.payment_type"></select>
        </div>
        <div class="col-sm-4">
            <!-- ng-disabled="ctrl.salesOrder.payment_type != 'credit'" -->
            <label>On The Road</label>
            <input type="text" ng-model="ctrl.salesOrder.on_the_road" disabled fcsa-number>
            <label>Off The Road</label>
            <input type="text" ng-model="ctrl.salesOrder.off_the_road" disabled fcsa-number>
            <label>Discount</label>
            <input type="text" ng-model="ctrl.salesOrder.discount" fcsa-number="{ preventInvalidInput: true }">
        </div>
        <div class="col-sm-4">
            <label>Mediator Fee</label>
            <input type="text" ng-model="ctrl.salesOrder.mediator_fee" fcsa-number="{ preventInvalidInput: true }">
            <div ng-show="ctrl.salesOrder.mediator_fee > 0">
                <span ng-hide="ctrl.salesOrder.validated_at">                    
                    <entity-finder-modal search-only="true" selected-entity="selectedMediatorEntity" on-entity-selected="
                            ctrl.salesOrder.mediator=_.pick(selectedMediatorEntity,['id','name','phone_number','email','address']);
                            ctrl.salesOrder.mediator.entity_id=selectedMediatorEntity.id">
                    </entity-finder-modal>
                    <file-manager-upload displayed-input='{{ ctrl.fileManager.mediatorIdentification.displayedInput }}' additional-data='{{ ctrl.fileManager.mediatorIdentification.additionalData }}' validations='{{ ctrl.fileManager.mediatorIdentification.validations }}' uploaded-file="uploadedMediatorIdentification" on-file-uploaded="ctrl.salesOrder.mediator.id_file_uuid=uploadedMediatorIdentification.uuid;ctrl.store(ctrl.salesOrder);">
                    </file-manager-upload>
                    <br>
                </span>
                <label>Nama Mediator (Lengkap Sesuai KTP)</label>
                <input type="text" ng-model="ctrl.salesOrder.mediator.name">
                <label>Nomor KTP Mediator</label>
                <input type="text" ng-model="ctrl.salesOrder.mediator.ktp">
                <file-manager-show display-type="img" file-uuid="{{ctrl.salesOrder.mediator.id_file_uuid}}">
                </file-manager-show>
                <tumr-access-check module-role="CREATE_MEDIATOR_FEE_PAYMENT">
                    <transaction-create ng-show="ctrl.salesOrder.delivery.handoverConfirmation.created_at && !ctrl.salesOrder.mediator.payment.creator.timestamp" related-entity-id="{{ ctrl.salesOrder.mediator.id}}" related-entity-name="{{ ctrl.salesOrder.mediator.name}}" related-entity-phone-number="{{ ctrl.salesOrder.mediator.phone_number}}" transactable-app="Gelora.Dealer" transactable-type="SalesOrderMediator" transactable-id="{{ctrl.salesOrder.id}}" amount-type="-" amount="{{ ctrl.salesOrder.mediator_fee * 0.97 }}" transaction="mediatorTransaction" setting="ctrl.transactionCreatorModal.setting" on-created="ctrl.postValidationUpdate.mediatorFeePayment(ctrl.salesOrder,mediatorTransaction)"></transaction-create>
                </tumr-access-check>
                <!--  -->
                <label ng-show="ctrl.salesOrder.mediator.payment.creator.timestamp">Dibayarkan oleh {{ ctrl.salesOrder.mediator.payment.creator.name }} ({{ctrl.salesOrder.mediator.payment.creator.timestamp * 1000 | fromDateTimeString }}) ({{ctrl.salesOrder.mediator.payment.transaction.uuid}})</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <label>Catatan</label>
            <textarea rows='5' style='height:5em;' ng-model='ctrl.salesOrder.sales_note'></textarea>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <personnel-finder selected-personnel="ctrl.salesOrder.salesPersonnel"></personnel-finder>
        </div>
        <div class="col-sm-4">
            <input type="text" ng-model="ctrl.salesOrder.salesPersonnel.name" readonly>
        </div>
        <div class="col-sm-4">
            <whatsapp-messenger phone="{{ ctrl.salesOrder.salesPersonnel.entity.phone_number }}" text="{{ ctrl.salesOrder.links.redirect_app }}"></whatsapp-messenger>
        </div>
    </div>
</div>
<button ng-show="!ctrl.salesOrder.validated_at" class="btn btn-lg btn-block btn-primary" ng-click="ctrl.store(ctrl.salesOrder)">Simpan SPK</button>
<br>