<div class="row">
    <div class="col-sm-12">
        <h4>Daftar Prospek</h4>
        <label>Type</label>
        <select ng-options="type.code as type.name for type in ctrl.types.admin" ng-model="ctrl.filter.type"></select>
        <label>Progress</label>
        <select ng-options="key as name for (key, name) in ctrl.statuses" ng-model="ctrl.filter.status"></select>
        <button class="btn btn-primary btn-block" ng-click="ctrl.load(ctrl.filter)">Cari</button>
        <br>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nama Pemohon</th>
                        <th>Nama STNK</th>
                        <th>Nama Sales</th>
                        <th>Type Motor</th>
                        <th>Tanggal Dibuat</th>
                        <th>Status</th>
                        <th>Buka</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="prospect in ctrl.prospects">
                        <td>{{ prospect.customer.name }}</td>
                        <td>{{ prospect.registration.name }}</td>
                        <td>{{ prospect.salesPersonnel.entity.name }}</td>
                        <td>{{ prospect.vehicle.type_name }}</td>
                        <td>{{ prospect.created_at | date }}</td>
                        <td></td>
                        <td><a ui-sref="prospectShow({id:prospect.id})">Buka</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
