<div class="row">
    <div class="col-sm-4">
        <label>Tanggal</label>
        <br>
        <label>Jenis Tanggal</label>
        <select ng-options="code as name for (code,name) in dateTypes" ng-model="filter.time_type"></select>
        <div class="row">
            <div class="col-sm-6">
                <label>Dari Tanggal</label>
                <input type="text" ng-model="filter.from" class="date">
            </div>
            <div class="col-sm-6">
                <label>Sampai Tanggal</label>
                <input type="text" ng-model="filter.until" class="date">
            </div>
        </div>
        <label>Status SPK</label>
        <select ng-options="code as name for (code,name) in statuses" ng-model="filter.status"></select>
        <label>Penerimaan Barang</label>
        <button class="btn btn-sm btn-block btn-default" data-toggle="modal" data-target="#registration-items-filter-modal">Barang</button>
    </div>
    <div class="col-sm-4">
        <label>Leasing</label>
        <leasing-selector selected-main-leasing="mainLeasing" selected-sub-leasing="subLeasing" force-sub-leasing="true" on-leasing-selected="filter.main_leasing_id=mainLeasing.id;filter.sub_leasing_id=subLeasing.id;"></leasing-selector>
        <label>Sales</label>
        <personnel-finder selected-personnel="salesPersonnel" on-personnel-selected="filter.sales_personnel_entity_id=salesPersonnel.entity.id"></personnel-finder>
        <br>
        <input type="text" ng-model="filter.sales_personnel_entity_id">
        <label>Supir</label>
        <select ng-click="loadDrivers()" ng-options="driver.id as driver.name for driver in drivers" ng-model="filter.driver_id" ></select>
    </div>
    <div class="col-sm-4">
        <label>Jenis kustomer</label>
        <select ng-options="customerType as customerType for customerType in customerTypes" ng-model="filter.customer_type"></select>
        <label>Jenis pembayaran</label>
        <select ng-options="key as value for (key, value) in paymentTypes" ng-model="filter.payment_type"></select>
        <label>Type dan warna motor</label>
        <vehicle-model-finder2 selected-model="selectedModel" on-change="filter.type_name=selectedModel.name;
            filter.color_name=selectedModel.variant.name">
        </vehicle-model-finder2>
        <label>Unit</label>
        <dealer-unit-search selected-unit="selectedUnit" on-unit-selected="filter.unit_id=selectedUnit.id"></dealer-unit-search>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-4">
        <label>Pengurutan Berdasarkan</label>
        <select ng-options="code as name for (code,name) in dateTypes" ng-model="filter.order_by"></select>
    </div>
    <div class="col-sm-4">
        <label>Pengurutan</label>
        <select ng-model="filter.order" ng-init="asc" name="order">
            <option value="asc">Terlama</option>
            <option value="desc">Terbaru</option>
        </select>
    </div>
    <div class="col-sm-4">
        <label>Hasil Per Halaman</label>
        <input type="text" ng-model="filter.paginate" name="paginate">
    </div>
</div>
<div class="modal fade" id="registration-items-filter-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-toggle="modal" data-target="#registration-items-filter-modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>Filter Berdasarkan Barang Pol Reg</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Barang</th>
                                        <th>Diterima Oleh Dealer</th>
                                        <th>Belum Diterima Oleh Dealer</th>
                                        <th>Diserahkan ke Konsumen</th>
                                        <th>Belum Diserahkan ke Konsumen</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat=" item in defaultItems">
                                        <td>{{item}}</td>
                                        <td>
                                            <input type="radio" name="filter-incoming-receipt-{{item}}" value="completed" ng-model="filter.registration_item_incoming[item]">
                                        </td>
                                        <td>
                                            <input type="radio" name="filter-incoming-receipt-{{item}}" value="incomplete" ng-model="filter.registration_item_incoming[item]">
                                        </td>
                                        <td>
                                            <input type="radio" name="filter-outgoing-receipt-{{item}}" value="completed" ng-model="filter.registration_item_outgoing[item]">
                                        </td>
                                        <td>
                                            <input type="radio" name="filter-outgoing-receipt-{{item}}" value="incomplete" ng-model="filter.registration_item_outgoing[item]">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
