<sales-order-navbar sales-order="ctrl.salesOrder"></sales-order-navbar>
<div class="row">
    <div class="col-sm-12">
        <div class="well" ng-hide="ctrl.salesOrder.leasingOrder.mainLeasing.id">
            <h5>Copy Dari PO Leasing</h5>
            <label>PO ID</label>
            <input type="text" ng-model="leasing_order_id">
            <button class="btn btn-block btn-danger btn-block" ng-click="ctrl.assignFromLeasingOrder(leasing_order_id)">Sambungkan</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <h5>Leasing</h5>
        <leasing-selector ng-if="ctrl.salesOrder.id && !ctrl.salesOrder.leasingOrder.invoice_generated_at" selected-main-leasing="ctrl.salesOrder.leasingOrder.mainLeasing" selected-sub-leasing="ctrl.salesOrder.leasingOrder.subLeasing"></leasing-selector>
        <br>
        <label>Leasing ID</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.mainLeasing.id" readonly>
        <label>Leasing Name</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.mainLeasing.name" readonly>
        <label>Cabang Leasing ID</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.subLeasing.id" readonly>
        <label>Cabang Leasing Name</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.subLeasing.name" readonly>
    </div>
    <div class="col-sm-3">
        <h5>Detail PO</h5>
        <button ng-show="!ctrl.salesOrder.validated_at" class="btn btn-block btn-info btn-xs" ng-click="ctrl.copyDataFromSalesOrder()">Copy data dari SPK</button>
        <label>Nama Kustomer</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.customer.name">
        <label>Alamat Kustomer</label>
        <textarea rows="5" style="height: 5em;" ng-model="ctrl.salesOrder.leasingOrder.customer.address"></textarea>
        <label>Nama STNK</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.registration.name">
        <label>Alamat STNK</label>
        <textarea rows="5" style="height: 5em;" ng-model="ctrl.salesOrder.leasingOrder.registration.address"></textarea>
        <vehicle-model-finder color-selectable="false" direct-selection="true" params='{"current":"true"}' selected-model="ctrl.salesOrder.leasingOrder.vehicle">
        </vehicle-model-finder>
    </div>
    <div class="col-sm-3">
        <h5>Keuangan PO</h5>
        <label>Nomor Aplikasi</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.application_number">
        <label>Nomor PO</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.po_number">
        <label>Tanggal PO</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.po_date" class="date">
        <label>OTR</label>
        <input type="number" ng-model="ctrl.salesOrder.leasingOrder.on_the_road">
        <label>DP PO</label>
        <input type="number" ng-model="ctrl.salesOrder.leasingOrder.dp_po">
        <label>DP Bayar <small>Tidak perlu diisi jika sama dengan DP PO</small></label>
        <input type="number" ng-model="ctrl.salesOrder.leasingOrder.dp_bayar">
        <label>Tenor</label>
        <input type="number" ng-model="ctrl.salesOrder.leasingOrder.tenor">
        <label>Cicilan</label>
        <input type="number" ng-model="ctrl.salesOrder.leasingOrder.cicilan">
    </div>
    <div class="col-sm-3">
        <label>Catatan</label>
        <textarea ng-model="ctrl.salesOrder.leasingOrder.note" style="height:5em;" rows="5"></textarea>
        <div>
            <h5>PO</h5>
            <file-manager-upload path="sales-order/leasing-order" subpath="po" fileable-type="SalesOrder" fileable-id="{{ salesOrder.id}}" resize-height-width="1300x1300" uploaded-file="uploadedPoFile" on-file-uploaded="ctrl.salesOrder.leasingOrder.po_file_uuid=uploadedPoFile.uuid;ctrl.store(ctrl.salesOrder);"></file-manager-upload>
            <file-manager-show ng-if="ctrl.salesOrder.leasingOrder.po_file_uuid" display-type="downloadButton" file-uuid="{{ctrl.salesOrder.leasingOrder.po_file_uuid}}"></file-manager-show>
            <hr>
            <h4>Status</h4>
            <button ng-show="!ctrl.salesOrder.leasingOrder.po_completer.timestamp && !ctrl.salesOrder.leasingOrder.order_confirmer.timestamp" class="btn btn-block btn-success" ng-click="ctrl.action.orderConfirmation(ctrl.salesOrder, true)">Sudah ACC (Lisan)</button>
            <label ng-show="ctrl.salesOrder.leasingOrder.order_confirmer.timestamp">ACC Lisan: {{ ctrl.salesOrder.leasingOrder.order_confirmer.name }} ({{ ctrl.salesOrder.leasingOrder.order_confirmer.timestamp * 1000 | date }}) ({{ ctrl.salesOrder.leasingOrder.order_confirmer.note }})</label>
            <br>
            <button ng-show="ctrl.salesOrder.leasingOrder.po_file_uuid && !ctrl.salesOrder.leasingOrder.po_completer.timestamp" class="btn btn-block btn-success" ng-click="ctrl.action.poComplete(ctrl.salesOrder, true)">PO Lengkap</button>
            <label ng-show="ctrl.salesOrder.leasingOrder.po_completer.timestamp">PO Lengkap: {{ ctrl.salesOrder.leasingOrder.po_completer.name }} ({{ ctrl.salesOrder.leasingOrder.po_completer.timestamp * 1000 | date }})</label>
        </div>
    </div>
</div>
<button ng-show="!ctrl.salesOrder.validated_at" class="btn btn-block btn-warning" ng-click="ctrl.action.update(ctrl.salesOrder)">Simpan</button>
<button ng-show="ctrl.salesOrder.validated_at" class="btn btn-block btn-warning" ng-click="ctrl.action.updateAfterValidation(ctrl.salesOrder)">Simpan (Non Data Financial)</button>
<br>
<div class="row" ng-show="ctrl.appType == 'admin'">
    <div class="col-sm-12" ng-show="ctrl.salesOrder.leasingOrder.joinPromos">
        <div class="well">
            <h4>Join Promo</h4>
            <button class="btn btn-block btn-info" ng-click="ctrl.salesOrder.leasingOrder.joinPromos.push({})">Tambah Join Promo</button>
            <br>
            <div class="table-reponsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Jumlah Piutang Leasing</th>
                            <th>Jumlah Pencairan Leasing</th>
                            <th>Jenis Tanggal Jatuh Tempo</th>
                            <th>Adjustment Tanggal Jatuh Tempo</th>
                            <th>Pencairan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="joinPromo in ctrl.salesOrder.leasingOrder.joinPromos">
                            <td>
                                <input ng-disabled="ctrl.salesOrder.leasingOrder.invoice_generated_at" type="text" ng-model="joinPromo.name">
                            </td>
                            <td>
                                <input ng-disabled="ctrl.salesOrder.leasingOrder.invoice_generated_at" type="number" ng-model="joinPromo.amount" ng-change="ctrl.recalculateJoinPromos()">
                            </td>
                            <td>
                                <input ng-disabled="ctrl.salesOrder.leasingOrder.invoice_generated_at" type="number" ng-model="joinPromo.transfer_amount">
                            </td>
                            <td>
                                <select ng-disabled="ctrl.salesOrder.leasingOrder.invoice_generated_at" ng-options="key as value for (key,value) in ctrl.dueDayTypes" ng-model="joinPromo.due_day_type"></select>
                            </td>
                            <td>
                                <input ng-disabled="ctrl.salesOrder.leasingOrder.invoice_generated_at" type="text" ng-model="joinPromo.due_day_count">
                            </td>
                            <td>
                                <tumr-access-check module-role="CREATE_LEASING_ORDER_PAYMENT">
                                    <transaction-create ng-show="ctrl.salesOrder.leasingOrder.invoice_generated_at && !joinPromo.transaction.created_at && ctrl.joinPromoPaymentValidation.status" related-entity-id="{{ ctrl.salesOrder.leasingOrder.mainLeasing.id }}" related-entity-name="{{ ctrl.salesOrder.leasingOrder.mainLeasing.name }}" transactable-app="Gelora.Dealer" transactable-type="SalesOrder" transactable-subtype="leasingOrder.joinPromos" transactable-id="{{ctrl.salesOrder.id}}"  date="{{ctrl.salesOrder.leasingOrder.payment_at}}" amount-type="+" amount="{{ joinPromo.transfer_amount }}" transaction="createdTransaction" on-created="
                                    joinPromo.transaction.uuid=createdTransaction.uuid;ctrl.action.joinPromoPayment.store(ctrl.salesOrder,ctrl.salesOrder.leasingOrder.joinPromos,createdTransaction)" setting="ctrl.transactionCreatorModal.setting.jp">
                                    </transaction-create>
                                </tumr-access-check>
                                <span ng-show="joinPromo.transaction.created_at">
                                    <p class="small-info">Dibuat oleh: {{joinPromo.transaction.creator.name}}</p>
                                    <p class="small-info">{{joinPromo.transaction.created_at}}</p>
                                    <p class="small-info">Transaction ID: {{joinPromo.transaction.id}}</p>
                                    <p class="small-info">Jumlah Pencairan: {{joinPromo.transaction.amount | number }}</p>
                                </span>
                                <button ng-show="!ctrl.salesOrder.validated_at" ng-click="ctrl.salesOrder.leasingOrder.joinPromos.splice(ctrl.salesOrder.leasingOrder.joinPromos.indexOf(joinPromo),1)" class="btn btn-block btn-danger btn-xs">Hapus</button>
                            </td>
                        </tr>
                        <tr class="warning">
                            <td colspan="2">Total Piutang Leasing</td>
                            <td colspan="3"><strong>Rp {{ ctrl._.sumBy(ctrl.ctrl.salesOrder.leasingOrder.financial.joinPromos, 'transfer_amount') | number}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6" ng-show="ctrl.salesOrder.validated_at">
        <div class="well">
            <h4>Pencatatan Piutang</h4>
            <span ng-show="ctrl.salesOrder.leasingOrder.invoice_generated_at">
                <p>
                    Dibuat Oleh : {{ ctrl.salesOrder.leasingOrder.invoice_generator.name }}( {{ ctrl.salesOrder.leasingOrder.invoice_generated_at }} )
                </p>
            </span>
            <div ng-hide="ctrl.salesOrder.leasingOrder.payment_created_at">
                <button class="btn btn-block btn-warning" ng-click="ctrl.generate.invoice(ctrl.salesOrder)">Cetak Invoice</button>
                <button class="btn btn-block btn-warning" ng-click="ctrl.generate.extraDocumentInvoice(ctrl.salesOrder)">Cetak Tambahan Dokumen Penagihan Ke Leasing </button>
                <hr>
            </div>
            <span ng-show="ctrl.salesOrder.leasingOrder.invoice_generated_at && !ctrl.salesOrder.leasingOrder.payment_at && !ctrl.salesOrder.leasingOrder.leasing_invoice_batch_id">
                <label>Pilih Batch Tagihan Ke Leasing</label>
                <select ng-options="leasingInvoiceBatch.id as ((leasingInvoiceBatch.created_at | fromDateTimeString)  + ' | ' + leasingInvoiceBatch.subLeasing.name) for leasingInvoiceBatch in ctrl.leasingInvoiceBatches" ng-model="leasingInvoiceBatchId" ng-click="ctrl.loadLeasingInvoiceBatches()"></select>
                <button ng-show="leasingInvoiceBatchId" class="btn btn-block btn-info" ng-click="ctrl.salesOrder.leasingOrder.leasing_invoice_batch_id=leasingInvoiceBatchId;ctrl.action.updateAfterValidation(ctrl.salesOrder)">Pilih</button>
            </span>
            <span ng-show="ctrl.salesOrder.leasingOrder.leasing_invoice_batch_id">
                <a class="btn btn-block btn-info" href="{{'/credit-sales/redirect-app/leasing-invoice-batch/' + ctrl.salesOrder.leasingOrder.leasing_invoice_batch_id }}" target="_blank">Buka Batch</a>
                <button ng-hide="ctrl.salesOrder.leasingOrder.payment_at || ctrl.salesOrder.leasingOrder.leasingInvoiceBatch.closed_at" class="btn btn-block btn-danger" ng-click="ctrl.salesOrder.leasingOrder.leasing_invoice_batch_id=null;ctrl.action.updateAfterValidation(ctrl.salesOrder)">Hapus Batch</button>
            </span>
        </div>
    </div>
    <div class="col-sm-6" ng-show="ctrl.salesOrder.leasingOrder.invoice_generated_at">
        <div class="well">
            <h4>Pembayaran Piutang Leasing</h4>
            <transaction-due-list transactable-app="Gelora.Dealer" transactable-type="LeasingOrder" transactable-id="{{ctrl.salesOrder.id}}" data="ctrl.transactionDue"></transaction-due-list>
            <tumr-access-check module-role="CREATE_LEASING_ORDER_PAYMENT">
                <transaction-create ng-show="ctrl.mainReceivablePaymentValidation.status" related-entity-id="{{ ctrl.salesOrder.leasingOrder.mainLeasing.id}}" related-entity-name="{{ ctrl.salesOrder.leasingOrder.mainLeasing.name}}" related-entity-phone-number="{{ ctrl.salesOrder.leasingOrder.mainLeasing.phone_number}}" transactable-app="Gelora.Dealer" transactable-type="LeasingOrder" transactable-id="{{ctrl.salesOrder.id}}" amount-type="+" amount="{{ ctrl.salesOrder.leasingOrder.on_the_road - ctrl.salesOrder.leasingOrder.dp_po}}" transaction="transaction" on-created="ctrl.salesOrder.leasingOrder.payment_transaction_uuid=transaction.uuid;ctrl.action.mainReceivablePayment.store(ctrl.salesOrder)" setting="ctrl.transactionCreatorModal.setting.mainReceivable" date="{{ctrl.salesOrder.leasingOrder.payment_at}}"></transaction-create>
            </tumr-access-check>
            <label>Tanggal Pembayaran</label>
            <input type="text" class="date" ng-model="ctrl.salesOrder.leasingOrder.payment_at">
            <label ng-show="ctrl.salesOrder.leasingOrder.payment_created_at">Dibuat oleh: {{ ctrl.salesOrder.leasingOrder.payment_creator.name}} ({{ ctrl.salesOrder.leasingOrder.payment_created_at}})</label>
        </div>
    </div>
</div>