<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-5">
                <h4>Utama</h4>
                <div ng-if="!ctrl.leasing.created_at">
                    <entity-finder-modal selected-entity="ctrl.leasing.mainLeasing"></entity-finder-modal>
                </div>
                <label>Name</label>
                <input type="text" ng-model="ctrl.leasing.mainLeasing.name" readonly>
                <label>Kode Leasing</label>
                <input type="text" ng-model="ctrl.leasing.code">
            </div>
            <div class="col-sm-5 well" ng-if="ctrl.leasing.mainLeasing">
                <h4>Cabang</h4>
                <entity-finder-modal selected-entity="subEntity"></entity-finder-modal>
                <label>Name</label>
                <input type="text" ng-model="subEntity.name" readonly>
                <button class="btn btn-block" ng-click="ctrl.leasing.subLeasings.push(subEntity)" ng-if="subEntity">Tambahkan</button>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th>Hapus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sub in ctrl.leasing.subLeasings">
                                <td>{{sub.name}}</td>
                                <td>
                                    <button class="btn btn-danger btn-xs" ng-click="ctrl.remove(sub)">Hapus</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-2">
                <h4>Cetak Document Tagihan Leasing</h4>
                <input type="checkbox" class="form-not-applied" ng-model="ctrl.leasing.generateDocuments.invoice_dp">
                <label>Invoice DP</label>
                <br>
                <input type="checkbox" class="form-not-applied" ng-model="ctrl.leasing.generateDocuments.invoice_jp">
                <label>Invoice JP</label>
                <br>
                <input type="textbox" ng-show="ctrl.leasing.generateDocuments.invoice_jp" ng-model="ctrl.leasing.generateDocuments.invoice_jp_text">
                <input type="checkbox" class="form-not-applied" ng-model="ctrl.leasing.generateDocuments.agreement_bpkb">
                <label>Agreement BPKB</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label>Rumus Pencairan MBD <small>Jangan pakai %</small></label>
                <input type="text" ng-model='ctrl.leasing.mbd_transfer_formula'>
            </div>
        </div>
        <button class="btn btn-block btn-warning" ng-click="ctrl.store(ctrl.leasing)">Simpan</button>
        <hr>
        <div ng-if="ctrl.leasing.created_at">
            <h4>Leasing Personnel</h4>
            <account-finder-modal selected-user="user" on-user-selected="ctrl.leasing.leasingPersonnels.push(user)"></account-finder-modal>
            <br>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Personal Entity</th>
                            <th>Email</th>
                            <th>Dapat Input PO</th>
                            <th>Buka</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="leasingPersonnel in ctrl.leasing.leasingPersonnels">
                            <td>{{leasingPersonnel.name}}</td>
                            <td>{{leasingPersonnel.email}}</td>
                            <td>
                                <input type="checkbox" class="form-not-applied" ng-model="leasingPersonnel.access.can_input_leasing_order">
                            </td>
                            <td>
                                <button class="btn btn-xs btn-danger" ng-click="ctrl.leasingPersonnel.remove(leasingPersonnel)">Hapus</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
    </div>
</div>