<sales-order-navbar sales-order="ctrl.salesOrder"></sales-order-navbar>
<div class="row">
    <div class="col-sm-3">
        <h5>Leasing</h5>
        <leasing-selector selected-main-leasing="ctrl.salesOrder.leasingOrder.mainLeasing" selected-sub-leasing="ctrl.salesOrder.leasingOrder.subLeasing"></leasing-selector>
        <br>
        <label>Leasing ID</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.mainLeasing.id" readonly>
        <label>Leasing Name</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.mainLeasing.name" readonly>
        <label>Cabang Leasing ID</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.subLeasing.id" readonly>
        <label>Cabang Leasing Name</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.subLeasing.name" readonly>
    </div>
    <div class="col-sm-3">
        <h5>Detail PO</h5>
        <label>Nama Kustomer</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.customer.name">
        <label>Alamat Kustomer</label>
        <textarea rows="5" style="height: 5em;" ng-model="ctrl.salesOrder.leasingOrder.customer.address"></textarea>
        <label>Nama STNK</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.registration.name">
        <label>Alamat STNK</label>
        <textarea rows="5" style="height: 5em;" ng-model="ctrl.salesOrder.leasingOrder.registration.address"></textarea>
        <vehicle-model-finder color-selectable="false" direct-selection="true" params='{"current":"true"}' selected-model="ctrl.salesOrder.leasingOrder.vehicle">
        </vehicle-model-finder>
    </div>
    <div class="col-sm-3">
        <h5>Keuangan PO</h5>
        <label>Nomor PO</label>
        <input type="text" ng-model="ctrl.salesOrder.leasingOrder.po_number">
        <label>OTR</label>
        <input type="number" ng-model="ctrl.salesOrder.leasingOrder.on_the_road">
        <label>DP PO</label>
        <input type="number" ng-model="ctrl.salesOrder.leasingOrder.dp_po">
        <label>DP Bayar <small>Tidak perlu diisi jika sama dengan DP PO</small></label>
        <input type="number" ng-model="ctrl.salesOrder.leasingOrder.dp_bayar">
        <label>Tenor</label>
        <input type="number" ng-model="ctrl.salesOrder.leasingOrder.tenor">
        <label>Cicilan</label>
        <input type="number" ng-model="ctrl.salesOrder.leasingOrder.cicilan">
    </div>
    <div class="col-sm-3">
        <label>Catatan</label>
        <textarea ng-model="ctrl.salesOrder.leasingOrder.note" style="height:5em;" rows="5"></textarea>
        <div>
            <h5>PO</h5>
            <file-manager-upload path="sales-order/leasing-order" subpath="po" fileable-type="SalesOrder" fileable-id="{{ salesOrder.id }}" resize-height-width="1300x1300" uploaded-file="uploadedPoFile" on-file-uploaded="ctrl.salesOrder.leasingOrder.po_file_uuid=uploadedPoFile.uuid;ctrl.store(ctrl.salesOrder);"></file-manager-upload>
            <file-manager-show ng-if="ctrl.salesOrder.leasingOrder.po_file_uuid" display-type="downloadButton" file-uuid="{{ctrl.salesOrder.leasingOrder.po_file_uuid}}"></file-manager-show>
            <h5>Memo</h5>
            <file-manager-upload path="sales-order/leasing-order" subpath="memo" fileable-type="SalesOrder" fileable-id="{{ salesOrder.id }}" resize-height-width="1300x1300" uploaded-file="uploadedMemoFile" on-file-uploaded="ctrl.salesOrder.leasingOrder.memo_file_uuid=uploadedMemoFile.uuid;ctrl.store(ctrl.salesOrder);"></file-manager-upload>
            <file-manager-show ng-if="ctrl.salesOrder.leasingOrder.memo_file_uuid" display-type="downloadButton" file-uuid="{{ctrl.salesOrder.leasingOrder.memo_file_uuid}}"></file-manager-show>
        </div>
    </div>
</div>
<button ng-if="!ctrl.salesOrder.leasingOrder.validated_at" class="btn btn-block btn-warning" ng-click="ctrl.store(ctrl.salesOrder)">Simpan</button>
<br>
<div class="row">
    <div class="col-sm-9">
        <h4>Join Promo</h4>
        <button class="btn btn-block btn-info" ng-click="ctrl.salesOrder.leasingOrder.joinPromos.push({})">Tambah Join Promo</button>
        <br>
        <div class="table-reponsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Jumlah Piutang Leasing</th>
                        <th>Jenis Tanggal Jatuh Tempo</th>
                        <th>Adjustment Tanggal Jatuh Tempo</th>
                        <th>Hutang ID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="joinPromo in ctrl.salesOrder.leasingOrder.joinPromos">
                        <td>
                            <input type="text" ng-model="joinPromo.name">
                        </td>
                        <td>
                            <input type="number" ng-model="joinPromo.transfer_amount">
                        </td>
                        <td>
                            <select ng-options="key as value for (key,value) in ctrl.dueDayTypes" ng-model="joinPromo.due_day_type"></select>
                        </td>
                        <td>
                            <input type="text" ng-model="joinPromo.due_day_count">
                        </td>
                        <td>
                            <due-show ng-if="joinPromo.due_uuid" uuid="{{joinPromo.due_uuid}}"></due-show>
                        </td>
                    </tr>
                    <tr class="warning">
                        <td colspan="2">Total Piutang Leasing</td>
                        <td colspan="3"><strong>Rp {{ ctrl._.sumBy(ctrl.ctrl.salesOrder.leasingOrder.financial.joinPromos, 'transfer_amount') | number }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="well" ng-if="ctrl.salesOrder.delivery.handover">
            <h4>Pencatatan Piutang</h4>
            <due-show ng-if="ctrl.salesOrder.leasingOrder.due_uuid" uuid="{{ ctrl.salesOrder.leasingOrder.due_uuid }}"></due-show>
            <button class="btn btn-block btn-warning" ng-click="generate.invoice(leasingOrder)">Cetak Invoice (ng show kalau udah proses delivery)</button>
            <button class="btn btn-block btn-warning" ng-click="generate.agreementBPKB(leasingOrder)">Cetak Surat Pernyataan BPKB (ng show kalau udah proses penagihan)</button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <h5>Copy Dari PO Leasing</h5>
            <label>PO ID</label>
            <input type="text" ng-model="leasing_order_id">
            <button class="btn btn-block btn-danger btn-block" ng-click="ctrl.assignFromLeasingOrder(leasing_order_id)">Sambungkan</button>
        </div>
    </div>
</div>
