<div class="row">
	<div class="col-sm-12">

		<h4>PO {{ ctrl.leasingOrder.id || 'Baru' }}</h4>
		<hr>

	</div>
</div>

<div class="row">
	<div class="col-sm-3">

		<h5>Leasing</h5>

		<leasing-selector selected-main-leasing="mainLeasing" selected-sub-leasing="subLeasing" force-sub-leasing="true" on-leasing-selected="ctrl.leasingOrder.mainLeasing=mainLeasing;ctrl.leasingOrder.subLeasing=subLeasing;"></leasing-selector>
		<br>

		<label>Leasing ID</label>
		<input type="text" ng-model="ctrl.leasingOrder.mainLeasing.id" readonly>

		<label>Leasing Name</label>
		<input type="text" ng-model="ctrl.leasingOrder.mainLeasing.name" readonly>

		<label>Cabang Leasing ID</label>
		<input type="text" ng-model="ctrl.leasingOrder.subLeasing.id" readonly>

		<label>Cabang Leasing Name</label>
		<input type="text" ng-model="ctrl.leasingOrder.subLeasing.name" readonly>

	</div>

	<div class="col-sm-3">

		<h5>Detail PO</h5>
		
		<label>Nama Kustomer</label>
		<input type="text" ng-model="ctrl.leasingOrder.customer.name">

		<label>Alamat Kustomer</label>
		<textarea rows="5" style="height: 5em;" ng-model="ctrl.leasingOrder.customer.address"></textarea>

		<label>Nama STNK</label>
		<input type="text" ng-model="ctrl.leasingOrder.registration.name">

		<label>Alamat STNK</label>
		<textarea rows="5" style="height: 5em;" ng-model="ctrl.leasingOrder.registration.address"></textarea>

		<vehicle-model-finder
			color-selectable="false"
			direct-selection="true"
			params='{"current":"true"}'
			selected-model="ctrl.leasingOrder.vehicle">
		</vehicle-model-finder>

	</div>
	
	<div class="col-sm-3">

		<h5>Keuangan PO</h5>

		<label>Nomor PO</label>
		<input type="text" ng-model="ctrl.leasingOrder.po_number">

		<label>OTR</label>
		<input type="number" ng-model="ctrl.leasingOrder.on_the_road">

		<label>DP PO</label>
		<input type="number" ng-model="ctrl.leasingOrder.dp_po">

		<!-- <label>Piutang Leasing</label>
		<input type="number" ng-model="ctrl.leasingOrder.leasing_payable" auto-calculator="ctrl.leasingOrder.on_the_road-ctrl.leasingOrder.dp_po"> -->

		<label>DP Bayar <small>Tidak perlu diisi jika sama dengan DP PO</small></label>
		<input type="number" ng-model="ctrl.leasingOrder.dp_bayar">

		<label>Tenor</label>
		<input type="number" ng-model="ctrl.leasingOrder.tenor">

		<label>Cicilan</label>
		<input type="number" ng-model="ctrl.leasingOrder.cicilan">
	</div>
	<div class="col-sm-3">

		<div ng-if="ctrl.leasingOrder.sales_order_id" >
			<a class="btn btn-block btn-primary btn-sm" href="{{'/sales-admin/redirect-app/sales-order/?id=' + ctrl.leasingOrder.sales_order_id}}" target="_blank">Penjualan ID: {{ ctrl.leasingOrder.sales_order_id }}</a>
			<button class="btn btn-danger btn-sm btn-block" ng-click="ctrl.action.salesOrder.detach(ctrl.leasingOrder)">Hapus Penjualan</button>
			<hr>
		</div>


		<a ng-if="ctrl.leasingOrder.id" class="btn btn-block btn-primary btn-sm" ui-sref="leasingOrderShowFinancial({id:ctrl.leasingOrder.id})">Financial</a>
		
		<br>

		<label>Catatan</label>
		<textarea ng-model="ctrl.leasingOrder.note" style="height:5em;" rows="5"></textarea>

		<h5>PO</h5>
		<file-manager-upload displayed-input='{{ ctrl.PoFileManager.displayedInput }}'
		additional-data='{{ ctrl.PoFileManager.additionalData }}' 
		uploaded-file="uploadedPoFile"
		on-file-uploaded="ctrl.leasingOrder.po_file_uuid=uploadedPoFile.uuid;ctrl.store(ctrl.leasingOrder);"></file-manager-upload>

		<file-manager-show ng-if="ctrl.leasingOrder.po_file_uuid" display-type="downloadButton" file-uuid="{{ctrl.leasingOrder.po_file_uuid}}"></file-manager-show>

	
		<h5>Memo</h5>
		<file-manager-upload displayed-input='{{ ctrl.MemoFileManager.displayedInput }}' 
		additional-data='{{ ctrl.MemoFileManager.additionalData }}' 
		uploaded-file="uploadedMemoFile" 
		on-file-uploaded="ctrl.leasingOrder.memo_file_uuid=uploadedMemoFile.uuid;ctrl.store(ctrl.leasingOrder);"></file-manager-upload>

		<file-manager-show ng-if="ctrl.leasingOrder.memo_file_uuid" display-type="downloadButton" file-uuid="{{ctrl.leasingOrder.memo_file_uuid}}"></file-manager-show>

		

	</div>
</div>

<button ng-if="!ctrl.leasingOrder.validated_at" class="btn btn-block btn-warning" ng-click="ctrl.store(ctrl.leasingOrder)">Simpan</button>

<button ng-if="ctrl.leasingOrder.validated_at" class="btn btn-block btn-warning" ng-click="ctrl.generate.invoice(ctrl.leasingOrder)">Cetak Invoice</button>

<button ng-if="ctrl.leasingOrder.invoice_generated_at" class="btn btn-block btn-warning" ng-click="ctrl.generate.agreementBPKB(ctrl.leasingOrder)">Cetak Surat Pernyataan BPKB</button>

<br>

<div class="row">
	<div class="col-sm-6">
		
		<div class="well">

			<div ng-if="ctrl.leasingOrder.id && !ctrl.leasingOrder.validated_at">
				<h4>Validasi</h4>

				<input type="checkbox" class="form-not-applied" ng-model="ctrl.validateLeasingOrder">
				<span>Data PO leasing ini sudah benar sesuai dengan fisik PO</span>
				<br><br>

				<button ng-disabled="!ctrl.validateLeasingOrder" class="btn btn-block btn-success" ng-click="ctrl.action.validate(ctrl.leasingOrder)">Validasi</button>
			</div>

			<div ng-if="ctrl.leasingOrder.id && ctrl.leasingOrder.validated_at">
				<h4>Validasi</h4>

				<p>Validator: {{ ctrl.leasingOrder.validator.name }}</p>
				<p>{{ ctrl.leasingOrder.validated_at }}</p>
				<button class="btn btn-block btn-danger" ng-click="ctrl.action.unvalidate(ctrl.leasingOrder)">Batalkan Validasi</button>
			</div>

		</div>

	</div>
	<div class="col-sm-6">
		
            <div class="well" ng-if="ctrl.leasingOrder.sales_order_id">
			
			<h4>Pencatatan Piutang</h4>

			<due-show ng-if="ctrl.leasingOrder.due_uuid" uuid="{{ctrl.leasingOrder.due_uuid}}"></due-show>

		</div>
	</div>

</div>