<div class="row">
    <div class="col-sm-12">
        <div>
            <label>Utama</label>
            <select ng-options="leasing as leasing.mainLeasing.name for leasing in leasings" ng-model="leasing" ng-change="select(leasing.mainLeasing, subLeasing)"></select>
        </div>
        <div>
            <label>Cabang</label>
            <select ng-options="subLeasing as subLeasing.name for subLeasing in leasing.subLeasings" ng-model="subLeasing" ng-change="select(leasing.mainLeasing, subLeasing)"></select>
        </div>
    </div>
</div>
