<div class="row">
    <div class="col-sm-12">
        <h4>Batch Tagihan / Faktur yang Masuk dari Biro Jasa</h4>
        <hr>
        <a class="btn btn-block btn-warning" ui-sref="agencyInvoiceShow">Buat Baru</a>
        <br>
        <select ng-options="key as value for (key, value) in ctrl.statuses" ng-model="ctrl.filter.status" ng-change="ctrl.load()"></select>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Dibuat Oleh</th>
                        <th>Tanggal Dibuat</th>
                        <th>Tanggal Ditutup</th>
                        <th>Buka</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="registrationBatch in ctrl.registrationBatches">
                        <td>{{ registrationBatch.id }}</td>
                        <td>{{ registrationBatch.creator.name }}</td>
                        <td>{{ registrationBatch.created_at }}</td>
                        <td>{{ registrationBatch.closed_at }}</td>
                        <td><a ui-sref="registrationAgencyInvoiceShow({id:registrationBatch.id})">Buka</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination pagination="ctrl.meta.pagination" page="page" on-load-page="ctrl.load(page)"></pagination>
    </div>
</div>
