<div class="row">
	<div class="col-sm-12">
	

		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Leasing</th>
						<th>Kendaraan</th>
						<th>Tenor</th>
						<th>DP</th>
						<th>Jumlah Program</th>
						<th>Buka</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="leasingProgram in ctrl.leasingPrograms">
						<td>{{ leasingProgram.leasing.mainLeasing.name }}</td>
						<td>
							<span ng-if="leasingProgram.vehicle_model_selection_type == 'group'">
								{{ leasingProgram.vehicle_model_group }}
							</span>
							<span ng-if="leasingProgram.vehicle_model_selection_type == 'single'">
								{{ leasingProgram.vehicle.name }} | {{ leasingProgram.vehicle.code	 }} 
							</span>
						</td>
						<td>
							<span ng-if="leasingProgram.tenor_selection_type == 'range'">
								{{ leasingProgram.min_tenor + ' - ' + leasingProgram.max_tenor }}
							</span>
							<span ng-if="leasingProgram.tenor_selection_type == 'single'">
								{{ leasingProgram.tenor }}
							</span>
						</td>
						<td>
							<span ng-if="leasingProgram.dp_selection_type == 'range'">
								{{ leasingProgram.min_dp + ' - ' + leasingProgram.max_dp }}
							</span>
							<span ng-if="leasingProgram.dp_selection_type == 'single'">
								{{ leasingProgram.dp }}
							</span>
						</td>
						<td>{{ leasingProgram.programs.length || 0 }}</td>
						<td>
							<a ui-sref="leasingProgramShow({id:leasingProgram._id})" target="_blank">Buka</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
</div>