<div class="row">
	<div class="col-sm-12">

		<div class="well">

			<h3>Perpindah Unit</h3>

			<dealer-unit-search selected-unit="ctrl.unit"></dealer-unit-search><br>
			<button class="btn btn-block btn-info" ng-click="ctrl.scan()">Scan QR Code</button><br>
			<dealer-unit-barcode-finder unit="scannedUnit" on-found="ctrl.move(scannedUnit, ctrl.storageLocation.id)"></dealer-unit-barcode-finder>
			
		</div>

		<div ng-if="ctrl.unit">

			<label>Pilih lokasi penyimpanan unit</label>
			<dealer-location-finder location="ctrl.storageLocation"></dealer-location-finder>
			<br>

			<button class="btn btn-block btn-warning" ng-click="ctrl.move(ctrl.unit, ctrl.storageLocation.id)">Simpan</button>
		</div>

	</div>
</div>
