<div class="row">
    <div class="col-sm-12">
        <h4>Penjualan</h4>
        <hr>
        <sales-order-filter-preset filter="ctrl.filter" on-set="ctrl.load(ctrl.filter, true)"></sales-order-filter-preset>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" data-target="#filter-dropdown">Filter</a>
                </h4>
            </div>
            <div id="filter-dropdown" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>Nama Customer</label>
                            <input type="text" ng-model="ctrl.filter.customer_name">
                            <label>Nama STNK</label>
                            <input type="text" ng-model="ctrl.filter.registration_name">
                        </div>
                        <div class="col-sm-6">
                            <label>Nomor Telepon Customer</label>
                            <input type="text" ng-model="ctrl.filter.customer_phone_number" name="phone_number">
                        </div>
                    </div>
                    <hr>
                    <sales-order-filter filter="ctrl.filter"></sales-order-filter>
                    <button class="btn btn-block btn-info" ng-click="ctrl.load(ctrl.filter, true)">Cari</button>
                    <button class="btn btn-block btn-danger" ng-click="ctrl.resetFilter()">Reset Filter</button>
                </div>
            </div>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Type Motor</th>
                        <th>Warna Motor</th>
                        <th>Sales</th>
                        <th>Leasing</th>
                        <th>Tanggal SPK</th>
                        <th>Indent</th>
                        <th>Validasi</th>
                        <th>Pengiriman</th>
                        <th>Tagih Leasing</th>
                        <th>Batch Pol Reg</th>
                        <th>Buka</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="salesOrder in ctrl.salesOrders">
                        <td>
                            {{salesOrder.customer.name}}
                            <br>
                            <small>({{salesOrder.registration.name}})</small>
                        </td>
                        <td>{{salesOrder.vehicle.name}}</td>
                        <td>{{salesOrder.vehicle.variant.name}}</td>
                        <td>{{salesOrder.salesPersonnel.name}}</td>
                        <td>{{salesOrder.leasingOrder.mainLeasing.name}}</td>
                        <td>{{salesOrder.created_at | fromDateTimeString}}</td>
                        <td>{{salesOrder.indent.created_at | fromDateTimeString }}</td>
                        <td>{{salesOrder.validated_at | fromDateTimeString }}</td>
                        <td>
                            <p>
                                <small>
                                    <span ng-show="salesOrder.delivery.generated_at">SJ: {{salesOrder.delivery.generated_at | fromDateTimeString }} ({{ salesOrder.delivery.driver.name }})</span><br>
                                    <span ng-show="salesOrder.delivery.handover.created_at">ST: {{salesOrder.delivery.handover.created_at | fromDateTimeString }}</span><br>
                                    <span ng-show="salesOrder.delivery.handoverConfirmation.created_at">BAST: {{salesOrder.delivery.handoverConfirmation.created_at | fromDateTimeString }}</span><br>
                                </small>
                            </p>
                        </td>
                        <td>
                            <p><small>
                                <span ng-show="salesOrder.leasingOrder.po_completer.timestamp">PO Lengkap: {{ salesOrder.leasingOrder.po_completer.timestamp * 1000 | fromDateTimeString }}</span>
                                <br>
                                <span ng-show="salesOrder.leasingOrder.invoice_generated_at">Cetak: {{ salesOrder.leasingOrder.invoice_generated_at | fromDateTimeString }}</span>
                                <br>
                                <span ng-show="salesOrder.leasingOrder.leasing_invoice_batch_id"><a href="/credit-sales/redirect-app/leasing-invoice-batch/{{salesOrder.leasingOrder.leasing_invoice_batch_id}}">Batch</a></span>
                            </small></p>
                        </td>
                        <td>
                            <span><a ng-if="salesOrder.polReg.md_submission_batch_id" href="{{'/pol-reg/redirect-app/registration-md-submission-batch/' + salesOrder.polReg.md_submission_batch_id}}">MD</a></span>
                            <br>
                            <span><a ng-if="salesOrder.polReg.agency_submission_batch_id" href="{{'/pol-reg/redirect-app/registration-agency-submission-batch/' + salesOrder.polReg.agency_submission_batch_id}}">Ke Biro Jasa</a></span>
                            <br>
                            <span><a ng-if="salesOrder.polReg.agency_invoice_id" href="{{'/pol-reg/redirect-app/registration-agency-invoice/' + salesOrder.polReg.agency_invoice_id}}">Dari Biro Jasa</a></span>
                            <br>
                            <span ng-if="salesOrder.polReg.leasing_bpkb_submission_batch_id"><a href="{{'/pol-reg/redirect-app/registration-leasing-bpkb-submission-batch/' + salesOrder.polReg.leasing_bpkb_submission_batch_id}}">BPKB Ke Leasing</a><br></span>
                        </td>
                        <td>
                            <a class="btn btn-block btn-xs btn-primary" ui-sref="salesOrderShow({id:salesOrder.id})">Buka</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination pagination="ctrl.meta.pagination" page="ctrl.filter.page" on-load-page="ctrl.load(ctrl.filter)"></pagination>
    </div>
</div>