<div class="row">
    <div class="col-sm-12">
        <h4>Penjualan</h4>
        <hr>
        <button class="btn btn-sm btn-block btn-default" data-toggle="modal" data-target="#spk-filter-modal">SPK Filter</button>
        <br>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Type Motor</th>
                        <th>Warna Motor</th>
                        <th>Sales</th>
                        <th>Leasing</th>
                        <th>Tanggal SPK</th>
                        <th>Indent</th>
                        <th>Validasi</th>
                        <th>Pengiriman</th>
                        <th>Tagih Leasing</th>
                        <th>Batch Pol Reg</th>
                        <th>Buka</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="salesOrder in ctrl.salesOrders">
                        <td>
                            {{salesOrder.customer.name}}
                            <br>
                            <small>({{salesOrder.registration.name}})</small>
                        </td>
                        <td>{{salesOrder.vehicle.name}}</td>
                        <td>{{salesOrder.vehicle.variant.name}}</td>
                        <td>{{salesOrder.salesPersonnel.entity.name}}</td>
                        <td>{{salesOrder.leasingOrder.mainLeasing.name}}</td>
                        <td>{{salesOrder.created_at | fromDateTimeString}}</td>
                        <td>{{salesOrder.indent.created_at | fromDateTimeString }}</td>
                        <td>{{salesOrder.validated_at | fromDateTimeString }}</td>
                        <td>{{salesOrder.delivery.generated_at | fromDateTimeString }}</td>
                        <td>
                            <span ng-show="salesOrder.leasingOrder.invoice_generated_at">Cetak: {{ salesOrder.leasingOrder.invoice_generated_at | fromDateTimeString }}</span>
                            <br>
                            <span ng-show="salesOrder.leasingOrder.leasing_invoice_batch_id"><a href="/credit-sales/redirect-app/leasing-invoice-batch/{{salesOrder.leasingOrder.leasing_invoice_batch_id}}">Batch</a></span>
                        </td>
                        <td>
                            <span><a ng-if="salesOrder.polReg.md_submission_batch_id" href="{{'/pol-reg/redirect-app/registration-md-submission-batch/' + salesOrder.polReg.md_submission_batch_id}}">MD</a></span>
                            <br>
                            <span><a ng-if="salesOrder.polReg.agency_submission_batch_id" href="{{'/pol-reg/redirect-app/registration-agency-submission-batch/' + salesOrder.polReg.agency_submission_batch_id}}">Ke Biro Jasa</a></span>
                            <br>
                            <span><a ng-if="salesOrder.polReg.agency_invoice_id" href="{{'/pol-reg/redirect-app/registration-agency-invoice/' + salesOrder.polReg.agency_invoice_id}}">Dari Biro Jasa</a></span>
                            <br>
                            <span ng-if="salesOrder.polReg.leasing_bpkb_submission_batch_id"><a href="{{'/pol-reg/redirect-app/registration-leasing-bpkb-submission-batch/' + salesOrder.polReg.leasing_bpkb_submission_batch_id}}">BPKB Ke Leasing</a><br></span>
                        </td>
                        <td>
                            <a class="btn btn-block btn-xs btn-primary" ui-sref="salesOrderShow({id:salesOrder.id})">Buka</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <pagination pagination="ctrl.meta.pagination" page="ctrl.filter.page" on-load-page="ctrl.load(ctrl.filter)"></pagination>
    </div>
</div>
<div class="modal fade" id="spk-filter-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><strong>Filter</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Nama Customer</label>
                        <input type="text" ng-model="ctrl.filter.customer_name">
                        <label>Nama STNK</label>
                        <input type="text" ng-model="ctrl.filter.registration_name">
                    </div>
                    <div class="col-sm-6">
                        <label>Nomor Telepon Customer</label>
                        <input type="text" ng-model="ctrl.filter.customer_phone_number" name="phone_number">
                    </div>
                </div>
                <hr>
                <sales-order-filter filter="ctrl.filter"></sales-order-filter>
                <button class="btn btn-block btn-info" ng-click="ctrl.load(ctrl.filter, true)">Cari</button>
                <button class="btn btn-block btn-danger" ng-click="ctrl.resetFilter()">Reset Filter</button>
            </div>
        </div>
    </div>
</div>