<div class="row">
    <div class="col-sm-12">
        <h4>Batch Faktur ke MD {{ ctrl.registrationBatch.id || 'Baru' }}</h4>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <div style="width: 100%;" class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td class="col-sm-6">Ditutup</td>
                                <td>{{ ctrl.registrationBatch.closed_at }}</td>
                            </tr>
                            <tr>
                                <td>Dikirimkan Tanggal</td>
                                <td>{{ ctrl.registrationBatch.sent_at }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <button ng-if="!ctrl.registrationBatch.id && !ctrl.registrationBatch.closed_at" class="btn btn-block btn-primary" ng-click="ctrl.store(ctrl.registrationBatch)">Simpan</button>
                <button ng-if="ctrl.registrationBatch.id && !ctrl.registrationBatch.closed_at && ctrl.registrationBatch.registrations.length > 0" class="btn btn-block btn-primary" ng-click="ctrl.close(ctrl.registrationBatch)">Tutup</button>
                <div ng-if="ctrl.registrationBatch.closed_at">
                    <label>Email</label>
                    <input type="text" ng-model="ctrl.email">
                    <button class="btn btn-block btn-primary" ng-click="ctrl.sendEmail(ctrl.registrationBatch, ctrl.email)">Kirim</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Alamat</th>
                        <th>Salesman</th>
                        <th>Type Motor</th>
                        <th>Warna</th>
                        <th>No Rangka</th>
                        <th>No Mesin</th>
                        <th>Serah Terima</th>
                        <th>Success</th>
                        <th>Buka</th>
                    </tr>
                </thead>
                <tbody ng-repeat="registration in ctrl.registrationBatch.registrations">
                    <tr class="info">
                        <td>{{registration.delivery.salesOrder.customer.name}}</td>
                        <td>{{registration.delivery.salesOrder.customer.address}}</td>
                        <td>{{registration.delivery.salesOrder.salesPersonnel.entity.name}}</td>
                        <td>{{registration.delivery.unit.type_name}}</td>
                        <td>{{registration.delivery.unit.color_name}}</td>
                        <td>{{registration.delivery.unit.chasis_number}}</td>
                        <td>{{registration.delivery.unit.engine_number}}</td>
                        <td>{{registration.delivery.handover_at}}</td>
                        <td>
                            <span ng-if="ctrl.registrationBatch.sent_at && !registration.registration_md_submission_batch_confirmed_at">
                            <button class="glyphicon glyphicon-ok btn-xs btn-success" ng-click="ctrl.confirm(registration, true)"></button>
                            <button class="glyphicon glyphicon-remove btn-xs btn-danger" ng-click="ctrl.confirm(registration, false)"></button>
                            </span>
                        </td>
                        <td><a ui-sref="registrationShow({id:registration.id})">Buka</a></td>
                    </tr>
                    <tr>
                        <td colspan="20">
                            <p>{{ registration.delivery.salesOrder.cddb.string.cddb }}</p>
                            <p>{{ registration.delivery.salesOrder.cddb.string.udstk }}</p>
                            <p>{{ registration.delivery.salesOrder.cddb.string.udsls }}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
