<tr style="background-color: #e74c3c;">
    <td>Pengiriman Ke MD</td>
    <td>
        <!-- Jika batch belum dipilih -->
        <div ng-if="!registration.registrationMdSubmissionBatch && !registration.pending_md_submission_batch">
            <div class="row">
                <div class="col-sm-9">
                    <select ng-model="registrationMdSubmissionBatch" ng-change="registration.registration_md_submission_batch_id=registrationMdSubmissionBatch.id" ng-options="registrationBatch as registrationBatch.created_at for registrationBatch in registrationMdBatches"></select>
                </div>
                <div class="col-sm-3">
                    <button ng-if="registrationMdSubmissionBatch" class="btn btn-block btn-info" ng-click="action.mdSubmissionBatch.select( registration)">Pilih</button>
                </div>
            </div>
        </div>
        <!-- Jika batch sudah dipilih dan batch belum closed_at -->
        <div ng-if="registration.registrationMdSubmissionBatch && !registration.registrationMdSubmissionBatch.closed_at" class="row">
            <div class="col-sm-6">
                <a class="btn btn-success btn-block" target="_blank" ui-sref="registrationMdSubmissionBatchShow({id:registration.registrationMdSubmissionBatch.id})">Buka Batch</a>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-block btn-danger" ng-click="action.mdSubmissionBatch.cancel(registration)">Batalkan</button>
            </div>
        </div>
        <!-- Jika batch sudah closed_at dan registration belum confirmed_at -->
        <div ng-if="registration.registrationMdSubmissionBatch.closed_at && !registration.registration_md_submission_batch_confirmed_at" class="row">
            <div class="col-sm-6">
                <button class="btn btn-block btn-success" ng-click="action.mdSubmissionBatch.confirm(registration)">Konfirmasi Data OK</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-block btn-danger" ng-click="action.mdSubmissionBatch.cancel(registration)">Batalkan</button>
            </div>
        </div>
        <!-- Jika batch sudah confirmed -->
        <div ng-if="registration.registration_md_submission_batch_confirmed_at">
            <p>Sudah Konfirmasi: {{ registration.registration_md_submission_batch_confirmed_at }} </p>
        </div>
    </td>
</tr>
