<div class="row">
	<div class="col-sm-12">
		<div class="table">
			<table class="table table-responsive">
				 <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer Name</th>
                        <th>Type Motor</th>
                        <th>Warna Motor</th>
                        <th>Sales</th>
                        <th>Tanggal SPK</th>
                        <th>Alasan Pembatalan</th>
                        <th>Restore SPK </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cancelledSalesOrder in ctrl.cancelledSalesOrders">
                        <td>{{cancelledSalesOrder.sales_order.id}}</td>
                        <td>{{cancelledSalesOrder.sales_order.customer.name}}</td>
                        <td>{{cancelledSalesOrder.sales_order.vehicle.name}}</td>
                        <td>{{cancelledSalesOrder.sales_order.vehicle.variant.name}}</td>
                        <td>{{cancelledSalesOrder.sales_order.salesPersonnel.entity.name}}</td>
                        <td>{{cancelledSalesOrder.sales_order.created_at}}</td>
                        <td>{{cancelledSalesOrder.reason}}</td>
                        <td><button class="btn btn-xs btn-block btn-warning" ng-click="ctrl.restore(cancelledSalesOrder)">Restore</button></td>
                    </tr>
                </tbody>
			</table>
		</div>
        <pagination pagination="ctrl.meta.pagination" page="page" on-load-page="ctrl.load(page)"></pagination>
	</div>
</div>