<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Terima</th>
                        <th>Serah</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(name, item) in salesOrder.polReg.items">
                        <td>{{ name }}</td>
                        <td ng-include="'incoming.html'"></td>
                        <td>
                            <p ng-if="!item.incoming">{{ item.name }} belum diterima dealer</p>
                            <div ng-if="item.incoming || item.outgoing" ng-include="'outgoing.html'"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <label>Tambah Barang Baru</label>
                            <input type="text" ng-model="newItemName">
                            <button ng-show='newItemName' class="btn btn-block btn-info btn-xs" ng-click="addItem(newItemName)">Tambah</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/ng-template" id="incoming.html">
    <div ng-if="!item.incoming">
        <button class="btn btn-xs btn-block btn-info" ng-click="itemIncomingEntry(item)">Input Penerimaan</button>
    </div>
    <div ng-if="item.incoming">
        <p class="small-info">Diterima oleh: {{ item.incoming.creator.name }}</p>
        <p class="small-info text-danger"><strong>Catatan: {{ item.incoming.note }}</strong></p>
        <p class="small-info">{{ item.incoming.creator.timestamp * 1000 | date:"M/dd/yyyy h:mma" }}</p>
        <p class="small-info text-primary" ng-show="item.name=='Faktur'"><strong>Nomor Faktur: {{ salesOrder.polReg.faktur_number }}</strong></p>
        <p class="small-info text-primary" ng-show="item.name=='STNK'"><strong>Nomor Polisi: {{ salesOrder.polReg.pol_reg }}</strong></p>
        <p class="small-info text-primary" ng-show="item.name=='BPKB'"><strong>Nomor BPKB: {{ salesOrder.polReg.bpkb_number }}</strong></p>
    </div>
</script>
<div class="modal fade" id="item-incoming-entry-{{modalId}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Input Penerimaan {{ selectedItem.name }}</h4>
            </div>
            <div class="modal-body">
                <label>Catatan</label>
                <input type="text" ng-model="selectedItem.note">
                <!-- Input nomor faktur kalau Faktur -->
                <span ng-if="selectedItem.name=='Faktur'">
                    <label>Nomor Faktur</label>
                    <input type="text" ng-model="selectedItem.faktur_number">
                </span>
                <!-- Input plat nomor kalau STNK -->
                <span ng-if="selectedItem.name=='STNK'">
                    <label>Nomor Polisi</label>
                    <input type="text" ng-model="selectedItem.pol_reg">
                </span>
                <!-- Input nomor BPKB -->
                <span ng-if="selectedItem.name=='BPKB'">
                    <label>Nomor BPKB</label>
                    <input type="text" ng-model="selectedItem.bpbk_number">
                </span>
                <button class="btn btn-block btn-success" ng-click="itemIncomingStore(selectedItem)">Simpan</button>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="outgoing.html">
    <div ng-if="!item.outgoing">
        <button class="btn btn-xs btn-block btn-info" ng-click="itemOutgoingEntry(item)">Input Penyerahan</button>
    </div>
    <div ng-if="item.outgoing">
        <p class="small-info">Diserahkan oleh: {{ item.outgoing.creator.name }}</p>
        <p class="small-info">{{ item.outgoing.creator.timestamp * 1000 | date:"MM/dd/yyyy h:mma" }}</p>
        <p class="small-info" ng-show="item.outgoing.note">Catatan: {{ item.outgoing.note }}</p>
        <p class="small-info">Penerima: {{ item.outgoing.receiver_name }} ({{ item.outgoing.receiver_id }})</p>
        <button class="btn btn-block btn-success btn-xs" ng-click="generateReceiptItemHandover(item)">Cetak Bukti Penyerahan</button>
    </div>
</script>
<div class="modal fade" id="item-outgoing-entry-{{modalId}}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Input Penyerahan {{ selectedItem.name }}</h4>
            </div>
            <div class="modal-body">
                <label>Catatan Penyerahan</label>
                <input type="text" ng-model="selectedItem.note">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Nama Penerima</label>
                        <input type="text" ng-model="selectedItem.receiver_name">
                    </div>
                    <div class="col-sm-6">
                        <label>No KTP Penerima</label>
                        <input type="text" ng-model="selectedItem.receiver_id">
                    </div>
                </div>
                <button class="btn btn-block btn-success" ng-click="itemOutgoingStore(selectedItem)">Simpan</button>
            </div>
        </div>
    </div>
</div>
