<div class="row">
	<div class="col-sm-12">

		<div class="well">
			<fieldset ng-disabled="ctrl.movementOrderHeader.closed_at">
				<label>Mover</label>
				<input type='text' ng-model='ctrl.movementOrderHeader.mover'>

				<label>Date</label>
				<input type='text' id='date' ng-model='ctrl.movementOrderHeader.date'>

				<label>Note</label>
				<input type='text' ng-model='ctrl.movementOrderHeader.note'>

				<p>Lokasi Tujuan: {{ ctrl.movementOrderHeader.to_location_name || 'Belum Dipilih' }}</p>
				<label>Lokasi Baru</label>
				<dealer-location-finder location="location" on-location-selected="ctrl.movementOrderHeader.to_location_id=location.id;ctrl.movementOrderHeader.to_location_name=location.name"></dealer-location-finder>
			</fieldset>
		</div>

		<div class="well" ng-if='!ctrl.movementOrderHeader.closed_at && ctrl.movementOrderHeader.id'>

			<h4>Tambah Unit</h4>
			<dealer-unit-search selected-unit="unit" on-unit-selected="ctrl.addUnit(unit)" additional-params="ctrl.unitSearchAdditionalParams"></dealer-unit-search>

		</div>

		<div class="well">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>Model</th>
							<th>Warna</th>
							<th>Engine Number</th>
							<th>Chasis Number</th>
							<th>Lokasi Awal</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat='movementOrderDetail in ctrl.movementOrderHeader.movementOrderDetails'>
							<td>{{ movementOrderDetail.unit.data.type_name }}</td>
							<td>{{ movementOrderDetail.unit.data.color_name }}</td>
							<td>{{ movementOrderDetail.unit.data.engine_number }}</td>
							<td>{{ movementOrderDetail.unit.data.chasis_number }}</td>
							<td>{{ movementOrderDetail.from_location_name}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div ng-if="!ctrl.movementOrderHeader.closed_at">
			<button class="btn btn-block btn-info" ng-click="ctrl.store(ctrl.movementOrderHeader)">Simpan</button>
			<br>

			<button ng-if="ctrl.movementOrderHeader.id" class="btn btn-block btn-danger" ng-click="ctrl.close(ctrl.movementOrderHeader)">Perpindahan Unit Telah Selesai </button>
			<br>
		</div>

		<button ng-if="ctrl.movementOrderHeader.closed_at" class="btn btn-block btn-primary" ng-click="ctrl.print()">Print</button>
	</div>
</div>

<div class="hidden-xs hidden-sm hidden-md hidden-lg">
	<div id="printarea" ng-include="ctrl.printData.template"></div>
</div>